<mat-card fxLayout="row">
  <mat-card-content>
    <div id="portal">

    </div>
    <ul>
      <li *ngFor="let note of notes">
        <todo-note [note]="note"></todo-note>
      </li>
    </ul>
    <button mat-fab class="float-right" cdk-overlay-origin #createButton="cdkOverlayOrigin" (click)="click()">New +</button>
  </mat-card-content>
</mat-card>


<todo-overlay-container [shouldCreateListener]="emitter" [positionOrigin]="createButton">
  <todo-note [note]="notes[0]"></todo-note>
</todo-overlay-container>
