<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      <mat-form-field>
        <input #titleInput matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <textarea #contentInput matInput cdkTextareaAutosize placeholder="Content" formControlName="content"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer align="end">
      <button type="submit" mat-button [disabled]="form.invalid">Save</button>
      <button type="button" mat-button (click)="onCancelClick(titleInput, contentInput)">Cancel</button>
    </mat-card-footer>
  </mat-card>
</form>
