mat-card {
  background-color: lightyellow;
  width: 15rem;
  height: 10rem;
  margin: 1rem;

  mat-card-title {
    border-bottom: solid 0.0325rem grey;

    i {
      font-size: 1rem;
      color: lightgrey;
      transition: font-size 0.3s;
    }

    i:hover {
      font-size: 2rem;
      color: grey;
    }

    i:active {
      color: lightgrey;
    }
  }
}


